/wp-admin/
/wp-includes/


/wp-content/advanced-cache.php
/wp-content/backup-db/
/wp-content/cache/
/wp-content/upgrade/
/wp-content/uploads/
/wp-content/plugins/akismet/


wp-config.php


/.env
/.env.example
